$font-fam: 'Raleway',
sans-serif;

.filters_group {
    display: flex;
    flex-wrap: wrap;

    .filter_button {
        border: solid rgb(255, 255, 255) 1px;
        background: #f5f5f5;
        border-radius: 50px;
        margin-left: 13px;
        margin-top: 10px;
        margin-bottom: 00px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: $font-fam;
        font-weight: 700;
        font-size: 14px;
        max-height: 16px;
        text-transform: capitalize;
        transition: all .1s ease;

        &:hover {
            background: #adadad;
            cursor: pointer;
        }

        &.active {
            background-color: #242424;
            color: #fff;
            transition: all .1s ease
        }
    }

    a {
        text-decoration: none;
        color: #222222;
    }

}

.filters_bar {
    display: flex;
}

.filters_sort {
    display: flex;
    flex-grow: 4;
    justify-content: right;
    margin-right: 3em;
    margin-top: 1em;
}

.sort_type_select {
    display: flex;
    flex-direction: row;

}

.sort_type_label {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    font-family: $font-fam;
    margin-top: 1.5px;
    padding: 2.5px 0 0 0;
}

.type_selector {
    padding: 1px;
    font-size: 14px;
    font-weight: 700;
    font-family: $font-fam;
    text-decoration: underline;
}

select {
    border: none;
    outline: none;
}