.footer {
	display: flex;
	flex-direction: row;
	background-color: #e2e2e2;
	margin: 1em .3em .3em .3em;
	color: #303030;
	font-weight: 500;
	font-size: 16px;
	text-align: left;
	border-radius: 7px;
	padding-top: 1em;
	max-height: 160px;

	.footer_left_col {

		ul>li {
			list-style-type: none;
			padding-bottom: .5em;

			a {
				text-decoration: none;
				color: #303030;
				transition: all .2s linear;

				&:hover {
					color: #ff641c;
					text-decoration: underline;
					transition: all .2s linear;
				}
			}
		}
	}

	.footer_mid_col {


		ul>li {
			list-style-type: none;

			a {
				text-decoration: none;
				color: #303030;
				transition: all .2s linear;

				&:hover {
					color: #ff641c;
					text-decoration: underline;
					transition: all .2s linear;
				}
			}
		}
	}

	.footer_right_col {
		display: flex;

		ul>li {
			list-style-type: none;


			.svg {
				color: red;
			}

			a {
				text-decoration: none;
				color: #303030;
				transition: all .2s linear;

				&:hover {
					color: #ff641c;
					text-decoration: underline;
					transition: all .2s linear;
				}
			}
		}
	}
}