.main__text {
	position: absolute;
	margin-left: 1.2em;
	margin-top: 10em;
	user-select: none;
}

.main__content {
	display: flex;
	margin-top: 5em;
	flex-direction: row;
	flex-wrap: wrap;
}