.main__text {
	position: flex;
	margin: auto;
	margin-top: 1em;
	user-select: none;
}

.main__content {
	display: flex;
	margin-top: 1em;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
}